html, body, p {
    margin: 0;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #003865;
}

.app-name {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 10px;
}

.sign-btn-right {
    display: flex;
    margin-right: 10px;
    gap: 10px;
}

/* Add these styles */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 50px); /* Subtracting the header height */
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
/* Add this to your CSS file */

.form-field label {
    color: #003865;
    font-weight: bold;
    margin-bottom: 5px;
}


form {
    width: 80%;
    max-width: 500px;
}

.nav-menu {
    position: fixed;
    top: 50px;
    background-color: #002D52;
    min-height: calc(100vh - 50px); /* Subtracting the header height */
    width: 180px; /* Adjust the width as per your need */
    color: white;
    padding: 15px;
}

.nav-menu ul {
    list-style-type: none;
    padding: 0;
}

.nav-menu li {
    padding: 10px 0;
}

.mynavlink {
     font-size: 20px;
    color: white;
    text-decoration: none;
}

.mynavlink:hover {
    color: gold;
}


/* Styles for layout */
.layout-container {
    display: flex;
}

.layout-content {
    margin-top: 50px; /* header height */
    margin-left: 220px; /* navbar width */
    flex-grow: 1;
    padding: 15px;
}

.card-img {
    border-radius: 50%;
}

/* Existing styles */

/* Add the following styles */

.messages-container {
    margin-top: 70px;
    padding: 15px;
}

.message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    max-width: 60%;
}

.sent {
    align-self: flex-end;
    background-color: #0099ff;
    color: white;
}

.received {
    align-self: flex-start;
    background-color: #f3f3f3;
    color: black;
}

.input-area {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: white;
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.2);
}

.message-input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.send-button {
    padding: 10px 20px;
    color: white;
    background-color: #0099ff;
    border: none;
    border-radius: 5px;
}

.about-header {
    color: #003865;
    font-size: 3em;
    margin-bottom: 1rem;
    text-align: center;
}

.about-page-container {
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    max-width: 800px; /* adjust as needed */
    margin: auto;
}

.about-page-text {
    color: #333;
    font-size: 1.4em;
    line-height: 1.6;
    width: 450px;
    margin-bottom: 1rem;
    margin: auto;
    padding: 10px;
}

.post-box {
    display: block;
    margin: 20px auto;
}

.home-container {
    width: 50%;
    margin: 0 auto;
}